# Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

### Endpoints Privacy ###
sv_endpointPrivacy true

sv_hostname "ProjectRP - V3"
set steam_webApiKey "7D7F90EA0343777A871B619AC1EF3979"
sv_licenseKey "craneopgmuezkwfox3fw1qx92tvxoxcd"
sv_maxclients 64   # Allow access to features usually locked behind a FiveM patreon key

set sv_requestParanoia 3

# DLC 
sv_enforceGameBuild 2802

sets sv_projectName "ProjectRP - V3"
sets sv_projectDesc ""
sets tags "roleplay"
sv_scriptHookAllowed 0

set onesync_enabled 1
set onesync_forceMigration true
set onesync_workaround763185 true
set onesync_distanceCullVehicles true
set onesync_distanceCulling true

set mysql_connection_string "mysql://root@localhost/projectrp?waitForConnections=true&charset=utf8mb4"
set mysql_ui true

setr esx:locale "fr"
setr ox:locale fr

# Vocal
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true

setr voice_enableUi 1
setr voice_enableProximityCycle 1
setr voice_enableRadioSubmix 1
setr voice_enableSubmix 1
setr voice_debugMode 0
setr voice_enableRadioAnim 1
setr voice_defaultVolume 1.5

## These resources will start by default.
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure hardcap

## Add system admins
add_principal group.admin group.user
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit

add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow

add_ace resource.ox_lib command.add_ace allow
add_ace resource.ox_lib command.remove_ace allow
add_ace resource.ox_lib command.add_principal allow
add_ace resource.ox_lib command.remove_principal allow

## Default & Standalone resources
ensure chat-theme-gtao # Cool Chat theme

# Base
ensure oxmysql
ensure ox_lib
ensure es_extended
ensure ox_target
exec @ox_inventory/config.cfg
ensure ox_inventory

# Core
ensure [core]

# ESX Addons
ensure [esx_addons]

## Addons
ensure [addons]

# Jobs
ensure [jobs]

# Stream
ensure [stream]

# Vocal
ensure [vocal]

