:root {
    --main: 18, 18, 18;
    --secondary: 25, 25, 25;
    --third: 32, 32, 32;
    --highlight: 42, 42, 42;
    --contrast: 255, 0, 2;
    --text: 117, 117, 117;
    --red: 255, 88, 88;
    --error: 253, 72, 72;
}
